doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title instels-test
    link(href="lib/normalize.css")
    link(rel="stylesheet" href="lib/glide/glide.core.min.css")
    link(rel="stylesheet" href="css/style.min.css")

  body
    include ../modules/sprite
    include ../modules/header
    main
      .home-page__hover(style="background-image: url(img/home-hover.jpg)")
      .wrap
        h1.home-page__hover-title Видео конференции 
        a.home-page__hover-btn(href="programmes-page.html") Explore our online courses now
      .wrap
        section.home-page__advantage.advantage
          //- include ../modules/advantage
    include ../modules/callback
    include ../modules/thanks

    script(src="lib/jquery3.4.1.js")
    script(src="lib/glide/glide.min.js")
    script(src="js/script.js")
