@font-face {
    font-family: 'montserrat'; 
    src: url('../fonts/montserrat-400.woff2') format('woff2'),
    url('../fonts/montserrat-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'montserrat'; 
  src: url('../fonts/montserrat-500.woff2') format('woff2'),
  url('../fonts/montserrat-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat'; 
  src: url('../fonts/montserrat-600.woff2') format('woff2'),
  url('../fonts/montserrat-600.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

html, body {
  box-sizing: border-box;
  max-width: 100%;
  min-width: $mobile-width;
  overflow-x: hidden;
  @include text;
}

a {
  text-decoration: none;
  @include text;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  @include visually-hidden;
}

body {
  background-color: #EBEEF5;
}