.thanks.active
  .thanks__popup
    button.callback__btn-close(type="button" aria-label="закрыть окно")
    svg.thanks__img(width="160" height="160")
      use(xlink:href="#icon-thanks")
    p.thanks__desc Ваша заявка успешно отправлена. Ожидайте звонка в ближайшее время!
    button.thanks__btn-ok(type="button") Ок
