$font-main: "montserrat", sans-serif;
$mobile-width: 320px;
$tablet-width: 600px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
